<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patients List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>name</th>
                <th>birth</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="p : ${patients}"> //for each schleife durch die patients liste, p ist das aktuelle element
                <td th:text="${p.name}"></td>//${p.name} gibt den Namen des aktuellen Patienten aus
                <td th:text="${p.birth}"></td> ${xxx} ist die Syntax um auf die Eigenschaften eines Objekts zuzugreifen, in diesem Fall auf die Eigenschaft birth des aktuellen Patienten p
            </tr>
        </tbody>

    </table>

    <p>
        <a href="/patient/add">new patient</a>
    </p>
</div>
</body>
</html>